# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.commitlintrc.json
!.versionrc.json

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
/_posts/2022-11-02-TempFile.md
/_posts/2022-11-02-KafkaBrokersSecurity.md
/_posts/2022-09-14-KafkaBrokers_copy.md
